* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
}

.board {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 560px;
    height: 560px;
}

.square {
    width: 180px;
    height: 180px;
    background-color: lightblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.message {
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.restart {
    font-size: 25px;
    padding: 5px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}