* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 25px;
}

.container {
    margin: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
}

input {
    font-size: 25px;
    padding: 3px 8px;
}

.save-note {
    font-size: 23px;
    padding: 5px 10px;
    cursor: pointer;
}

.error-message {
    display: none;
}

.error-message.show {
    display: block;
    font-size: 20px;
    color: rgb(226, 65, 65);
}

.notes-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.notes-container li {
    list-style: none;
    display: flex;
    margin-bottom: 25px;
}

.note {
    font-size: 25px;
    padding: 3px 8px;
    margin-right: 10px;
}

.edit {
    font-size: 23px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.delete {
    font-size: 23px;
    padding: 5px 10px;
    cursor: pointer;
}