*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 23px;
}
body{
    background-color: lightblue;
}
h1{
    font-size: 40px;
}
.container{
    width: 450px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}